<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
      
    <br>
         <center><h3>Welcome to the <%= title %></h3></center>
    <br>
  </div>

    <img src="images/eko.jpg" alt="profile">
    <br>
    
      <h5 class="card-title">Mar Jerico Lagmay</h5>
      <p>Hi, my name is Mar Jerico Lagmay, this is my third semester as a software engineering student at Centennial College right now.<br>
       I am familiar with HTML, frameworks like Bootstrap, Foundation, and Materialize CSS, as well as CSS, Javascript, PHP, nodejs<br>
        Consider looking at mobile application development as it relates to web design and development.</p>
    
    </div>
  </div>
  

      
  </div>
</div>
    
  </div>
</div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>