<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="">
    <h2 class="display-4">Welcome to my <%= title %> page </h2>
  </div>
</main>
<br><br>
 <img src="images/6.png" alt="profile">
 <br><br>
<p> 
Hey! We appreciate you visiting my portfolio.<br><br>
This portfolio website is made with HTML, CSS, JQuery, Javascript, NodeJS, ExpressJS. Remember to checkout this website.
</p>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
